body
{
  background: #1D2127;
  color: white;
}

ul 
{
	list-style-type: none;
}


/*	Site Navigation	*/

nav
{
	position: relative;
	min-height: 60px;
	top: 5px;
	border: 2px solid white;
	border-radius: 12px;
} 


nav.sitenavigation li.navhome
{
	position: absolute;
	color: white;
	font-size: 55px;
	/*font-family: 'Brush Script MT';*/
	font-family: 'Tangerine';
	text-shadow: 4px 4px 4px gray;
	top: 3px;
	left: 20px;
}

nav.sitenavigation li.navinsta
{
	position: absolute;
	color: white;
	top: 8px;
	right: 25px;
}
nav.sitenavigation li.navresume
{
	position: absolute;
	color: white;
	font-size: 25px;
	top: 14px;
	right: 95px;
}

li.navresume a:hover, li.navresume a:focus
{
	
}

.insta
{
	max-height: 44px;
}

nav.sitenavigation a:link
{
	text-decoration: none;
	color: white;
}

nav.sitenavigation a:visited
{
	color: white;
}

nav.sitenavigation a:hover, nav.sitenavigation a:focus
{
	color: gray; 
}
