body
{
  background: #1D2127;
  color: white;
}

ul 
{
	list-style-type: none;
}


/*	Site Navigation	*/

/*nav
{
	border: 2px solid white;
} */


nav.sitenavigation li.navhome
{
	position: absolute;
	color: white;
	font-size: 55px;
	/*font-family: 'Brush Script MT';*/
	font-family: 'Tangerine';
	text-shadow: 4px 4px 4px gray;
	top: 25px;
	left: 25px;
}

nav.sitenavigation li.navsocial
{
	position: absolute;
	color: white;
	top: 30px;
	right: 25px;
}

nav.sitenavigation li.navinsta
{
	position: absolute;
	color: white;
	top: 30px;
	right: 25px;
}

.insta
{
	max-height: 44px;
}

nav.sitenavigation a:link
{
	text-decoration: none;
	color: white;
}

nav.sitenavigation a:visited
{
	color: white;
}

nav.sitenavigation a:hover, nav.sitenavigation a:focus
{
	color: gray; 
}
